html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
#turkiye path {
    fill: #ccc;
    transition: fill .3s;
}
.highlighted-city > path {
    fill: #00a8ff !important;
}
.highlighted-area > path {
    fill: #CDE7F5 !important;
}
/*#turkiye > g path {
    fill: green;
}
#turkiye > g:hover path {
    fill: red;
}*/
